body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.folders-limit {
  margin-top: 20px;
}

.folders-limit input {
  width: 50px;
  margin: 0 7px;
}

.image-icon {
  color: green
}

.selected-image {
  margin-top: 25px;
}

.selected-image img.svg{
  width: 200px;
  height: 200px;
}

.initial-state {
  margin-right: 15px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-wrapper {
  overflow: hidden;
  border: 1px dashed black;
}