html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul {
  list-style: none;
  padding: 0;
}

li a {
  cursor: pointer;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-wrapper {
  overflow: hidden;
}

.img-wrapper span {
  display: none;
}

.img-wrapper.loading span {
  display: inline;
}

.img-wrapper.loading img { 
  display: none;
}

.js-initial-state,
.js-download {
  cursor: pointer;
  display: none;
}

.js-initial-state {
  margin-right: 10px;
}