@page
@model ImagesModel
@{
    ViewData["Title"] = "Images Viewer";

    string folder = HttpContext.Request.Query["folder"].ToString();

    string wwwRootPath = "W:\\Lab\\ImageViewer\\wwwroot";
    var files = System.IO.Directory.GetFiles(wwwRootPath + "\\root-folder\\" + folder);

    var fileNames = files.Select(path => {
        System.IO.FileInfo dir_info = new System.IO.FileInfo(path);
        return dir_info.Name;
        }).ToArray();

    var fileSizes = files.Select(path => {
        var img = System.Drawing.Bitmap.FromFile(path);
        return new Tuple<int, int>(img.Width, img.Height);
        }).ToArray();

    var fileUrls = files.Select(path => path.Replace(wwwRootPath, "")).ToArray();
}

<div class="text-center">
    <h1 class="display-4">Image Viewer</h1>
    <ul>
        @for (int i = 0; i < fileNames.Length; i++)
        {
            <li>
                🖼<a class="js-image" data-href=@fileUrls[i] data-width=@fileSizes[i].Item1 data-height=@fileSizes[i].Item2>@fileNames[i] (@fileSizes[i].Item1 x @fileSizes[i].Item2)</a>
            </li>
        }
    </ul>
    <div class="img-container">
        <div class="img-wrapper">
            <img src="" alt="" class="js-selected-image">
            <span>Loading...<span>
        </div>
    </div>
    <a class="js-initial-state">Initial State</a>
    <a class="js-download" download>Download</a>
</div>
