@page
@model IndexModel
@{
    ViewData["Title"] = "Folder Viewer";

    string rootPath = "W:\\Lab\\ImageViewer\\wwwroot\\root-folder";
    var folders = System.IO.Directory.GetDirectories(rootPath);
    var blackList = System.IO.File.ReadAllLines(rootPath + "\\black-list.txt");

    folders = folders.Select(path => {
        System.IO.DirectoryInfo dirInfo = new System.IO.DirectoryInfo(path);
        return dirInfo.Name; 
        }).
        Where(folderName => !blackList.Contains(folderName))
        .ToArray();
    
}

<div class="text-center">
    <h1 class="display-4">Folder Viewer</h1>
    <ul>
        @foreach (string name in folders) 
        {
            <li>
                📁<a href="/Images?folder=@name">@name</a>
            </li>
        }
    </ul>
</div>
