@page
@model IndexModel
@{
    ViewData["Title"] = "Folders Viewer";

    string rootPath = "W:\\Lab\\ImageViewer\\root-folder";
    var folders = System.IO.Directory.GetDirectories(rootPath);

    folders = folders.Select(path => {
        System.IO.DirectoryInfo dir_info = new System.IO.DirectoryInfo(path);
        return dir_info.Name; 
        }).ToArray();
    
    //var owners = System.IO.File.ReadAllLines(@"..\data\Owners.txt");
}

<div class="text-center">
    <h1 class="display-4">Folders Viewer</h1>
    <ul>
        @foreach (string name in folders) 
        {
            <li>📁@name</li>
        }
    </ul>
</div>
